nav a {
    color: #333;
    margin-right: 12px;
    text-decoration: none;
}
nav a.active {
    color : royalblue;
    font-weight: bold;
    font-size: 30px;
}
.product-list{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}
.product-item{
    padding: 10px;
}